.digraph {
	float: left;
	height: 600px;
	width: 70%;
}
.sidebar {
	float: right;
	height: 600px;
	width: 30%;
}
.console {
	clear: both;
	height: 150px;
	width: 100%;
}
#pieces {
	height: 200px;
	width: 100%;
}
#throughput {
	height: 200px;
	width: 100%;
}
#progress {
	height: 200px;
	width: 100%;
}
path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}
text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}
